/* This is a commnent */

/* CSS Syntax:

Selector {
  property: value;
  proprerty: value;
}

*/

/* Type Selector */

p { /* select <p> */
  font-size: 1em; /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}
